html {
    font-family: 'Roboto', sans-serif;
}

.comments {
    > .comment {
        max-width: 624px;
    }

    .comment {
        .comment-main-content {
            width: 100%;

            .comment-message {
                margin: 4px 0;

                .hashtag {
                    color: #065FD4;
                }
            }

            .comment-header {
                .comment-date-posted {
                    color: #606060;
                    font-size: 13px;
                }

                .username {
                    font-weight: bold;
                    margin-right: 10px;;
                }
            }

            .comment-replies-action {
                color: #065FD4;
                cursor: pointer;
            }

            .comment-actions {
                
                .reply-top-section {
                    margin-top: 4px;
                    display: flex;
                    
                    .profile-avatar {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        margin-right: 14px;
                    }
    
                    input {
                        outline: 0;
                        border-width: 0 0 2px;
                        height: 21px;
                        width: 100%;
                        font-size: 16px;

                        &:focus {
                            border-bottom: 2px solid gray;
                        }
                    }
                }

                .reply-bottom-section {
                    display: flex;
                    flex-direction: row-reverse;
                    margin-top: 8px;

                    .cancel-button {
                        width: 72px;
                        height: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #606060;
                        cursor: pointer;
                        margin-right: 16px;
                    }

                    .enabled {
                        background-color: rgb(6, 95, 212) !important;
                    }

                    .reply-button {
                        cursor: pointer;
                        border-radius: 2px;
                        color: white;
                        width: 72px;
                        height: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(204, 204, 204);
                    }
                }


                margin-top: 8px;

                .vote-action {
                    color: #606060;
                    cursor: pointer;
                    font-size: 20px;

                    &--up {
                        margin-right: 8px;
                    }

                    &--down {
                        margin-left: 8px;
                    }
                }

                .reply-action {
                    margin-left: 16px;
                    color: #606060;
                    cursor: pointer;
                }
            }
        }

        &:not(last-child) {
            margin-bottom: 24px;
        }


        display: flex;

        .comment-avatar-container {

            .comment-avatar {
                border-radius: 100%;
                margin-right: 16px;
            }
        }

    }

    .comment-replies {
        margin-top: 8px;

        .comment-avatar-container {
            .comment-avatar {
                height: 24px;
                width: 24px;
                margin-right: 10px;
            }
        }
    }

    .comment-replies-action {
        margin-bottom: 12px;
    }
}

.hide {
    display: none;
}